/*#wrap { width:500px; margin:0 auto; }*/
#bod {
	overflow:auto; 
	text-align: center;
}
#left { float:left; width:250px; min-height:400px; }
#right { float:right; width:250px; min-height:400px; }
#main{
	font-size:10px;
	text-align: center;
	display:inline;
	margin: auto;
	width: 100%;
}
#main .stattable{
	text-align: center;
	max-width:60%;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	/*float:left;*/
}
/*#team2{
	text-align: center;
	max-width:60%;
	overflow:auto;
	/*float:right;
}*/
.pos{
	text-align:left;
	padding:2px;
	height:38px;
}
.ui-autocomplete {
max-height: 100px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}
.winner{
	background-color: green;
}