body{
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}
#score{
	float:left;
	margin:auto;
	position:fixed;
	left:2.3em;
}
#maxscore{
	float:right;
	margin:auto;
	position:fixed;
	right:2.3em;
}
#container{
	font-size: 1.2em;
	height: 18em;
	margin-left: 2em;
	margin-right: 2em;
	overflow-y: auto;
}
#stattable{
	border: 1px solid #AAA;
	border-collapse: collapse;
	font-size:95%;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	position: relative;
/*	top: 50%;
	transform: translateY(-50%);*/
}
#stattable td, th{
	border: 1px solid #AAA;
	text-align: center;
	padding: 3px;
}
#input_stuff{
	margin-left: 3em;
	margin-right: 3em;
}

#resMessage{
	height:5.5em;
	margin-left: 2em;
	margin-right: 2em;
}

.ui-autocomplete {
max-height: 100px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}

#score_placement{
	font-weight: bold;
}