<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basketball Crack</title>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="static/js.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css" type="text/css" media="all">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script> var pnum = {{pnum}};
	var names = [{% for name in names %} "{{name|safe}}", {% endfor %}];
	</script>
</head>
<body>
	<div class="alert alert-success" id="score"><h2>STREAK: <span id="streak">0</span></h2></div>
	<div class="alert alert-success" id="maxscore"><h2>HIGHEST STREAK: <span id="maxstreak">0</span></h2></div>
	<h1>NAME THAT NBA PLAYER</h1>

<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#leaderboard" id="leaderboard_btn">
	  Leaderboard
	</button>

	<h2>Whose statline is this?</h2>



	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Submit your score!!!</h4>
	      </div>
	      <div class="modal-body">
	      		<p>You had a streak of <span id="score_placement"></span>!  Submit your score to the leaderboard!?</p>
	      		<div class="form-group" id="submit_form">
		  		  <label class="control-label" for="user_name">Your Name</label>
		  		  <input type="text" id="user_name" name="username" class="form-control" placeholder="Your Name" data-error="Numbers, letters, spaces only.">
		  		  <span id="helpblock" class="help-block"></span>
		  		</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" id="submit_score" class="btn btn-primary">Submit</button>
	      </div>
	    </div>
	  </div>
	</div>

		<!-- Modal -->
	<div class="modal fade" id="leaderboard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel2">LEADERBOARD!!!</h4>
	      </div>
	      <div class="modal-body">
	      		<table id="leaderboard_table" class="table table-striped table-bordered table-condensed">
	      			
	      		</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>



	<!--<div><img src="static/kobe-bryant.jpg" style="height:100px"></img></div>-->
	<div id="container">
		<table id = "stattable" class="table table-striped table-bordered table-condensed">
			<tr>
			{% for h in headers%}
				<th> {{h}} </th>
			{% endfor %}
			</tr>
			{% for t in table %}
			    <tr>
			    {% for i in t %}
			        <td>{{ i }}</td>
			    {% endfor %}
			    </tr>
			{% endfor %}
		</table>

	</div>
	<div id="resMessage"><h1></h1></div>
	<br>
		<div id = "input_stuff" class="form-inline">
	  			<input type="text" id="player" name="player_name" autofocus class="form-control" placeholder="NBA player name">
	 			<button id="go_btn" class="btn btn-primary btn-large">GO</button>
	 		<br><br>
	 		<button id="give_btn" class="btn btn-default">give up</button>
 		</div>
</body>
</html>